.sectionNote {
  width: auto;
  font-size: 12px;
  border: 1px solid rgb(132, 132, 132);
  padding: 0 5px;
  width: fit-content;
  background-color: black;
  margin: 0 0 5px 0;
  color: var(--lighter);
}
.sectionTitle {
  text-decoration: underline;
  font-weight: 300;
  font-size: 18px;
  color: var(--lightest);
}

.detDescription {
  font-size: 14px;
  display: flex;
  color: var(--lighter);
  padding-top: 10px;
}
.iconLinkWrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.iconLink {
  display: flex;
  text-decoration: underline;
  font-weight: 300;
  text-align: center;
  padding-left: 10px;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 300;
}
.courseIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  background-color: var(--medium);
  border-radius: 50%;
}
