.mainWrapper {
  margin: 0 auto;
  overflow: hidden;
  /* background-color: var(--card); */
  /* padding: 5px 20px 7px 20px; */
  transition: all 0.3s ease;
  position: relative;
  border-radius: 4px;
  width: 380px;
  height: 328px;
}

.cardWrapper {
  height: 230px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/* 
.mainWrapper:hover {
  scale: 1.12;
  border: 1px solid var(--darker);
} */

.linkWrapper {
  cursor: pointer;
}

.photoDiv {
  width: 100%;
  height: 200px;
  border: 1px solid var(--medium);
  margin: 0 auto;
  object-fit: cover;
}
.photoDiv img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.date {
  text-align: center;
  padding-bottom: 5px;
  font-weight: 400;
  color: var(--daker);
  background-color: white;
}

.titleDesc {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  color: white;
  text-align: center;
  /* border: 1px solid red; */
}

.title {
  text-transform: capitalize;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 200;
}
.liveGit {
  color: white;
  text-decoration: underline;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  /* text-transform: uppercase; */
  font-weight: 200;
  letter-spacing: 1px;
  text-underline-offset: 0.2em;
}

.important {
  background-color: rgb(164, 195, 207);
}
.best {
  background-color: rgb(20, 217, 181);
}

@media (max-width: 480px) {
  .mainWrapper {
    width: 250px;
    height: auto;
  }
  .cardWrapper {
    height: auto;
  }
  .photoDiv {
    height: 200px;
  }
}
