.mainWrapper {
  margin: 0 auto;
  overflow: hidden;
  /* background-color: var(--card); */
  /* padding: 5px 20px 7px 20px; */
  transition: all 0.3s ease;
  position: relative;
  border-radius: 4px;
  width: 380px;
}

.cardWrapper {
  /* height: 530px; */
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid var(--darker);
  /* background-color: var(--darker); */
  background: var(--gradient-bg);
}
/* 
.mainWrapper:hover {
  scale: 1.12;
  border: 1px solid var(--darker);
} */

.linkWrapper {
  cursor: pointer;
}

.photoDiv {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.photoDiv img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.titleDesc {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 270px;
  position: relative;
}
.date {
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 200;
  color: var(--daker);
  text-transform: capitalize;
  padding: 10px 0;
  width: max-content;
}

.title {
  text-transform: capitalize;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 500;
  max-width: 78%;
  padding: 20px 0;
}

.description {
  max-width: 80%;
  padding: 30px 0;
  position: absolute;
  bottom: 50px;
}

.liveGit {
  color: var(--lighter);
  text-decoration: underline;
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  letter-spacing: 1px;
  text-underline-offset: 0.2em;
  margin-top: 10px;
  bottom: 20px;
  width: 90%;
}

.important {
  background-color: rgb(164, 195, 207);
}
.best {
  background-color: rgb(20, 217, 181);
}

@media (max-width: 480px) {
  .mainWrapper {
    width: 250px;
    height: auto;
  }
  .cardWrapper {
    height: auto;
  }
  .photoDiv {
    height: 200px;
  }
}
