.mapWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  position: relative;
  width: 90%;
  margin: 0 auto 100px auto;
}

.headline {
  margin-bottom: 70px;
}

@media (max-width: 480px) {
  .mapWrapper {
    margin: 0 auto;
  }
}
