.notFoundWrap {
  color: var(--light);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  margin: 20% 0;
  width: 100%;
  justify-content: space-evenly;
}

.back {
  text-decoration: underline;
  margin: 5% 0;
  font-size: 15px;
}
